
/*  backround Colors*/
.first-col{
    background-color:rgb(8, 26, 83)
}

.second-col{
    background-color:rgb(99, 134, 194)
}

.third-col{
  background-color:rgb(151, 181, 227)
}

/*  tEXT COLORS*/
ul {
    color: white;
  }





  


  

